{% extends '::base.html.twig' %}

{% block body %}{% endblock %}

{# note: disabled template because we no longer use this
    <main>
        <div class="container">
            content should go here
        </div>
    </main>
#}
