<a class="btn btn-primary btn-sm"
    {% if (isRestrictedMode) %}
        data-toggle="tooltip" data-placement="top" title="Not available in demo and guest view mode"
    {% else %}
        href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}"
    {% endif %}>Edit</a>

{% if (testcase.enabled) %}

    {% if (isRestrictedMode) %}
        <a
            class="btn btn-warning btn-sm"
            data-toggle="tooltip"
            data-placement="top"
            title="Not available in demo and guest view mode">Disable</a>
    {% else %}
        <form class="testcase-button-form" method="post" action="{{ path('testcases.disable', {'testcaseId': testcase.id}) }}">
            <button class="btn btn-warning btn-sm" type="submit">Disable</button>
        </form>
    {% endif %}

{% else %}

    {% if (isRestrictedMode) %}
        <a
            class="btn btn-success btn-sm"
            data-toggle="tooltip"
            data-placement="top"
            title="Not available in demo and guest view mode">Enable</a>
    {% else %}
        <form class="testcase-button-form" method="post" action="{{ path('testcases.enable', {'testcaseId': testcase.id}) }}">
            <button class="btn btn-success btn-sm" type="submit">Enable</button>
        </form>
    {% endif %}

{% endif %}

{% if (isRestrictedMode) %}
    <a
        class="btn btn-danger btn-sm"
        data-toggle="tooltip"
        data-placement="top"
        title="Not available in demo and guest view mode">Delete</a>
{% else %}
    <form class="testcase-button-form" method="post" action="{{ path('testcases.delete', {'testcaseId': testcase.id}) }}">
        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
    </form>
{% endif %}
