{% if (testcase.limitedtestresults(100)|length > 0) %}
    {% spaceless %}
        <div class="inline-block">
            {% for testresult in testcase.limitedtestresults(100)|slice(0, 50)|reverse %}

                {{ include('AppBundle:Testcases:_testresults-overview-beginmarker.html.twig') }}

                {{ include('AppBundle:Testcases:_testresults-overview-testresult.html.twig') }}

                {{ include('AppBundle:Testcases:_testresults-overview-endmarker.html.twig') }}

            {% endfor %}
        </div>
    {% endspaceless %}
{% else %}
    <small>No test run results yet.</small>
{% endif %}
