{% if (testcase.limitedtestresults(100)|length > 50) %}
    <br>
    <br>
    <small>
        <a href="javascript:return false;" data-toggle="collapse" data-target="#testresults-{{ testcase.id }}">Show last 100 results</a>
    </small>

    <div class="collapse" id="testresults-{{ testcase.id }}">
        {% for testresult in testcase.limitedtestresults(100)|slice(50, 100) %}
            {{ include('AppBundle:Testcases:_testresults-continued-testresult.html.twig') }}
        {% endfor %}
    </div>
{% endif %}
