<a class="btn btn-primary btn-sm"
    {% if (isDemoMode) %}
        data-toggle="tooltip" data-placement="top" title="Not available in demo mode"
    {% else %}
        href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}"
    {% endif %}>Edit</a>

{% if (testcase.enabled) %}

    {% if (isDemoMode) %}
        <a
            class="btn btn-default btn-sm"
            data-toggle="tooltip"
            data-placement="top"
            title="Not available in demo mode">Disable</a>
    {% else %}
        <form method="post" action="{{ path('testcases.disable', {'testcaseId': testcase.id}) }}">
            <button class="btn btn-default btn-sm" type="submit">Disable</button>
        </form>
    {% endif %}

{% else %}

    {% if (isDemoMode) %}
        <a
            class="btn btn-default btn-sm"
            data-toggle="tooltip"
            data-placement="top"
            title="Not available in demo mode">Enable</a>
    {% else %}
        <form method="post" action="{{ path('testcases.enable', {'testcaseId': testcase.id}) }}">
            <button class="btn btn-default btn-sm" type="submit">Enable</button>
        </form>
    {% endif %}

{% endif %}
