<a
    class="testresult-dot-anchor label-{{ include('AppBundle:Testcases:_testresults-overview-testresult-label.html.twig') }}"
    title="{{ testresult.datetimeRun|date("Y-m-d H:i") }}"
    data-content="{{ include('AppBundle:Testcases:_testresults-overview-testresult-bubblecontent.html.twig') }}"
    href="{% if (isDemoMode) %}/demo{% endif %}{{ path('testresults.show', {'testresultId': testresult.id}) }}"></a>
