{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block messages %}
    <div class="alert alert-danger" role="alert">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
{% endblock %}
