{% if (isDemoMode is defined and isDemoMode) or (app.session.flashbag.has('success')) or (app.session.flashbag.has('info')) or (app.session.flashbag.has('error')) %}
    <aside class="messages">
        <section class="container">
            {% if (isDemoMode is defined and isDemoMode) %}
                <div class="alert alert-info" role="alert">
                    You are currently in demo mode.
                </div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block messages %}{% endblock %}
        </section>
    </aside>
{% endif %}
