{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <section class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Impressum</h3>
                    <h4>Diese Webseite wird betrieben von:</h4>
                    <p>
                        Manuel Kiessling<br>
                        Freiherrenstr. 32<br>
                        41515 Grevenbroich<br>
                        Deutschland<br>
                    </p>
                    <p>
                        Telefon: 0049-160-96990445<br>
                        E-Mail: manuel@kiessling.net<br>
                        Internet: http://manuel.kiessling.net<br>
                    </p>
                    <h4>Verantwortlicher nach § 5 Telemediagesetz (TMG)</h4>
                    <p>Koordination dieses Auftritts, Redaktion und Verantwortung für die Inhalte übernimmt nach §5 Telemediengesetz (TMG):</p>
                    <p>
                        Manuel Kiessling<br>
                        Freiherrenstr. 32<br>
                        41515 Grevenbroich<br>
                        Deutschland<br>
                    </p>
                    <p>
                        Telefon: 0049-160-96990445<br>
                        E-Mail: manuel@kiessling.net<br>
                        Internet: http://manuel.kiessling.net<br>
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
