/* Space out content a bit */
body {
    padding-top: 50px;
    padding-bottom: 12px;
}

/* Custom page header */
header {
    margin-bottom: 0;
}

main {
    margin-top: 12px;
}

#journeymonitor-header {
    background-color: #49146b;
}

#journeymonitor-header a {
    color: #fff;
}

/* Make the masthead heading the same height as the navigation */
#brandname span {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
}

.messages {
    margin-top: 12px;
}

#loggedin-info {
    background-color: #abd450;
    border-radius: 0 0 0 7px;
    color: #49146b;
    font-weight: lighter;
    padding: 0 4px 1px 7px;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1031;
}

/* Custom page footer */
footer {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #e5e5e5;
    color: #777;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #abd450;
    color: #000;
    text-align: center;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.jumbotron h1 {
    font-size: 60px;
}

#journeymonitor-homepage-form {
    background: #DEF6A9;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

textarea.codeform {
    height: 200px;
    font-size: 8pt;
    font-family: "Courier New", Courier, monospace;
}

mark {
    padding: 0 4px;
    background-color: #ee4;
}

.inline-block {
    display: inline-block;
}

.journeymonitor-testcase-entry.journeymonitor-even {
    background-color: #eee;
}

.journeymonitor-testcase-entry small {
    color: #aaa;
}

.journeymonitor-testcase-entry {

}

.journeymonitor-testresult-output {
    white-space: pre-wrap;
    font-size: 6pt;
}

#journeymonitor-productvideo {
    border: 1px solid #eee;
}

/*#journeymonitor-beta-badge {
    margin-left: -24px;
    background-color: #90bd2d;
    font-size: 8px;
}*/

.journeymonitor-testresult-dot-anchor {
    display: inline-block;
    margin: 0 1px 0 0;
    padding: 0;
    width: 21px;
    height: 21px;
}

.testcases .popover{
    margin-top: 0;
}