/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    margin-bottom: 0px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    color: #537c0c;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
}

#loggedin-info {
    color: #aaa;
    margin-top: -93px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-color: #abd450;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.jumbotron h1 {
    font-size: 60px;
}

textarea.codeform {
    height: 200px;
    font-size: 8pt;
    font-family: "Courier New";
}

p .highlight {
    background-color: #ee4;
    padding-left: 4px;
    padding-right: 4px;
}

.journeymonitor-testcase-entry.journeymonitor-even {
    background-color: #eee;
}

.journeymonitor-testcase-entry small {
    color: #aaa;
}

.journeymonitor-testcase-entry {
    
}

.journeymonitor-testresult-output {
    font-size: 6pt;
    white-space: pre-wrap;
}