/* Space out content a bit */
body {
    padding-top: 50px;
    background-color: #525E68;
}

/* Custom page header */
header {
    margin-bottom: 0;
}

#navbar {
    padding-top: 6px;
}

button.navbar-toggle {
    margin-top: 12px;
}

main {
    min-height: 400px;
}

#journeymonitor-header {
    background-color: #1B2024;
}

#journeymonitor-header a {
    color: #fff;
}

/* Make the masthead heading the same height as the navigation */
.brandname {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
}

.journeymonitor-brandname-journey {
    margin-right: 3px;
}

.messages {
    padding-top: 0;
    margin-bottom: -20px;
    background-color: #fff;
}

#loggedin-info {
    background-color: #ddd;
    border-radius: 0 0 0 7px;
    color: #1B2024;
    font-weight: lighter;
    padding: 0 4px 1px 7px;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 1031;
}

main {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
}

#journeymonitor-homepage-main {
    padding: 0;
}

footer {
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin-bottom: 0;
    background-color: #95E595;
    color: #000;
    text-align: center;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.jumbotron h1 {
    font-size: 60px;
}

#video-headline {
    text-align: center;
}

.journeymonitor-content-container {
    margin: 0;
    padding-bottom: 48px;
    padding-top: 48px;
}

.journeymonitor-content-container-bright {
    background-color: #eee;
}

.journeymonitor-content-container-dark-radial {
    background: rgb(140,151,161);
    background: -moz-radial-gradient(center, ellipse cover, rgb(140,151,161) 0%, rgb(82,94,104) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(140,151,161)), color-stop(100%,rgb(82,94,104)));
    background: -webkit-radial-gradient(center, ellipse cover, rgb(140,151,161) 0%,rgb(82,94,104) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgb(140,151,161) 0%,rgb(82,94,104) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgb(140,151,161) 0%,rgb(82,94,104) 100%);
    background: radial-gradient(ellipse at center, rgb(140,151,161) 0%,rgb(82,94,104) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c97a1', endColorstr='#525e68',GradientType=1 );
    color: #fff;
}

.journeymonitor-content-container-middle {
    background-color: #fff;
    color: #000;
}

.journeymonitor-content-container-footer {
    text-align: center;
    background-color: #525E68;
    color: #fff;
}

.journeymonitor-content-container-footer a {
    color: #fff;
    border-bottom: 1px dotted #eee;
}

.journeymonitor-content-container-footer a:hover {
    color: #fff;
    border-bottom: 1px solid #eee;
    text-decoration: none;
}

#journeymonitor-homepage-form {
}

textarea.codeform {
    height: 200px;
    font-size: 8pt;
    font-family: "Courier New", Courier, monospace;
}

mark {
    padding: 0 4px;
    background-color: #EDF2CF;
}

.inline-block {
    display: inline-block;
}

.journeymonitor-testcase-entry.journeymonitor-even {
    background-color: #eee;
}

.journeymonitor-testcase-entry small {
    color: #aaa;
}

.table td.journeymonitor-testcase-entry-cell {
    padding: 48px 8px 36px 8px;
    border-top: none;
    /*border-bottom: 8px solid #ddd;*/
}

.journeymonitor-testcase-entry-metainfo {
    margin-top: 0px;
    margin-right: 2px;
}

.journeymonitor-testcase-entry-timeline-container {
    margin-bottom: 6px;
}

.journeymonitor-testresult-output {
    white-space: pre-wrap;
    font-size: 6pt;
}

#journeymonitor-productvideo {
    border: 1px solid #eee;
}

/*#journeymonitor-beta-badge {
    margin-left: -24px;
    background-color: #90bd2d;
    font-size: 8px;
}*/

.journeymonitor-testresult-dot-anchor {
    display: inline-block;
    margin: 0 1px 0 0;
    padding: 0;
    width: 21px;
    height: 21px;
}

.testcases .popover{
    margin-top: 0;
}